html {
  scroll-behavior:smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #444444;
    background-color: #000000; 
  }
 

.logo {
  display: inline-flex;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  width: auto;
  
}

.navbutton {
  display: inline-block;
}
  
  main {
    /*max-width: 1200px;*/
    margin-left: auto;
    margin-right: auto;
  }

.site-header {
    min-width: 450px;
    height: 100px;
    margin-bottom: 70px;
    padding-top: 30px;
    border-radius: 5px;
    background: #000000 ;
    background-size: cover;
    color: #ffffff;
  }

h2 {
  text-align: center;
  font-size: 45px;
  color: #ffffff;
  
}
#navbar {
  display: flex;
  justify-content: center;
  flex-basis: 160px;
  background-color: #444444a1;
  width: 100%;
  position: fixed;
  top: -250px;
  transition: top 0.3s;
  border-radius: 10px;

}

#navbar a {
  
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

.container {
    display: flex;
    width: 95%;
    max-height: 150px;
    margin-left: auto;
    margin-right: auto; 
    padding: 10px 10px 10px 10px;
  }


.wrapper-grid {
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 16px;
  }


.card {
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: rgb(21, 21, 22);
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    max-height: 600px; 
    max-width: 500px;
    margin: auto;
    margin-bottom: 10px;
    text-align: left;
    font-family: arial;
    color:white;
  } 


  .card > h3 {
    font-size: 23px;
  }
  .price {
    color: white;
    font-size: 20px;
  }
  .desc {
    font-size: 15px;
  }
  .gramms {
    color: grey;
    font-size: 15px;
  }

.responsive {
  width: 100%;
  max-width: 600px;
  height: auto;
}


@media screen and (orientation: portrait) {
  .wrapper-grid {
    display: block;
  }


    main {
      margin-left: 0;
      margin-right: 0;
      max-width: 100%;
    }
    
    .card {
      box-sizing: border-box;
      text-align: center;
      width: 100%;
      height: auto ;
      padding-left: 0px;
      padding-right: 0px;
      padding-top: 5px;
      padding-bottom: 5px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px;
    }
  .responsive {
    width: 100%;
    box-sizing: border-box;
    max-width: auto;
    height: auto;
  }
  }  